
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611480285124494189.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611480285124494189.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611480285124494189.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611480285124494189.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611480285124494189.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611480285124494189.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611480285124494189.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611480285124494189.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611480285124494189.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611480285124494189.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611480285124494189.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611480285124494189.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611480285124494189.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611480285124494189.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611480285124494189.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611480285124494189.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611480285124494189.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611480285124494189.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611480285124494189.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611480285124494189.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611480285124494189.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611480285124494189.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611480285124494189.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611480285124494189.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611480285124494189.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611480285124494189.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611480285124494189.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611480285124494189.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611480285124494189.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611480285124494189.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611480285124494189.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611480285124494189.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611480285124494189.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-611480285124494189.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611480285124494189.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611480285124494189.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611480285124494189.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611480285124494189.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611480285124494189.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611480285124494189.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611480285124494189.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611480285124494189.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611480285124494189.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-611480285124494189.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-611480285124494189.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611480285124494189.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-611480285124494189.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-611480285124494189.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611480285124494189.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611480285124494189.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-611480285124494189.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-611480285124494189.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-611480285124494189.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-611480285124494189.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611480285124494189.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611480285124494189.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-611480285124494189.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-611480285124494189.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-611480285124494189.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611480285124494189.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611480285124494189.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611480285124494189.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-611480285124494189.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-611480285124494189.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611480285124494189.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611480285124494189.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611480285124494189.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611480285124494189.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-611480285124494189.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-611480285124494189.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-611480285124494189 .gp-relative{position:relative}.gps-611480285124494189 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611480285124494189 .gp-mb-0{margin-bottom:0}.gps-611480285124494189 .gp-flex{display:flex}.gps-611480285124494189 .gp-grid{display:grid}.gps-611480285124494189 .\!gp-hidden{display:none!important}.gps-611480285124494189 .gp-hidden{display:none}.gps-611480285124494189 .gp-max-w-full{max-width:100%}.gps-611480285124494189 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611480285124494189 .gp-flex-col{flex-direction:column}.gps-611480285124494189 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611480285124494189 .gp-duration-200{transition-duration:.2s}.gps-611480285124494189 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-611480285124494189 .tablet\:\!gp-hidden{display:none!important}.gps-611480285124494189 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-611480285124494189 .mobile\:\!gp-hidden{display:none!important}.gps-611480285124494189 .mobile\:gp-hidden{display:none}}.gps-611480285124494189 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D5F3F","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ga6MZJQsfO"}' data-id="ga6MZJQsfO" id="ga6MZJQsfO" data-same-height-subgrid-container class="ga6MZJQsfO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:30px;--pl:20px;--pb:30px;--pr:20px;--pt-mobile:21px;--pl-mobile:20px;--pb-mobile:44px;--pr-mobile:20px;--mt-tablet:0px;--pt-tablet:30px;--pl-tablet:20px;--pb-tablet:30px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#2D5F3F;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkV3iMqmrr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZnomS1zXF"}' data-id="gZnomS1zXF" id="gZnomS1zXF" data-same-height-subgrid-container class="gZnomS1zXF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g_4llB68o5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVmD8qm_OA"
        class="gVmD8qm_OA"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:200%;--ls:0px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVmD8qm_OA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVmD8qm_OA">
        .gVmD8qm_OA {

}
.gVmD8qm_OA p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMiFjCmhr2"
        class="gMiFjCmhr2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:100%;--c:#E8F5E9;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMiFjCmhr2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-611480285124494189 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/0ezm0d-1r/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=611480285057385325&sectionId=611480285124494189)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVmD8qm_OA_text","label":"ggVmD8qm_OA_text","default":"<p><span style=\"font-size:16px;\">© 2026&nbsp;<strong> TrueNatural™</strong> All Rights Reserved. Privacy Policy. Terms of Use</span></p>"},{"type":"html","id":"ggMiFjCmhr2_text","label":"ggMiFjCmhr2_text","default":"<p><span style=\"font-size:10px;\">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}