
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602750963912016637.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602750963912016637.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602750963912016637.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602750963912016637.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602750963912016637.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602750963912016637.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602750963912016637.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602750963912016637.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602750963912016637.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602750963912016637.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602750963912016637.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602750963912016637.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602750963912016637.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602750963912016637.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602750963912016637.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602750963912016637.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602750963912016637.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602750963912016637.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602750963912016637.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602750963912016637.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602750963912016637.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602750963912016637.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602750963912016637.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602750963912016637.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602750963912016637.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602750963912016637.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602750963912016637.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602750963912016637.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602750963912016637.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602750963912016637.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602750963912016637.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602750963912016637.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602750963912016637.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602750963912016637.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602750963912016637.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602750963912016637.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602750963912016637.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602750963912016637.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602750963912016637.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602750963912016637.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602750963912016637.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602750963912016637.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602750963912016637.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602750963912016637.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-602750963912016637.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602750963912016637.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-602750963912016637.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-602750963912016637.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602750963912016637.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602750963912016637.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-602750963912016637.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602750963912016637.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602750963912016637.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-602750963912016637.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-602750963912016637.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-602750963912016637.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602750963912016637.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602750963912016637.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602750963912016637.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602750963912016637.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602750963912016637.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602750963912016637.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602750963912016637.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-602750963912016637.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-602750963912016637 .gp-relative{position:relative}.gps-602750963912016637 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602750963912016637 .gp-mb-0{margin-bottom:0}.gps-602750963912016637 .gp-flex{display:flex}.gps-602750963912016637 .gp-grid{display:grid}.gps-602750963912016637 .\!gp-hidden{display:none!important}.gps-602750963912016637 .gp-hidden{display:none}.gps-602750963912016637 .gp-max-w-full{max-width:100%}.gps-602750963912016637 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602750963912016637 .gp-flex-col{flex-direction:column}.gps-602750963912016637 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602750963912016637 .gp-duration-200{transition-duration:.2s}.gps-602750963912016637 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-602750963912016637 .tablet\:\!gp-hidden{display:none!important}.gps-602750963912016637 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-602750963912016637 .mobile\:\!gp-hidden{display:none!important}.gps-602750963912016637 .mobile\:gp-hidden{display:none}}.gps-602750963912016637 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#3A5E42","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gmkUjtrkVQ"}' data-id="gmkUjtrkVQ" id="gmkUjtrkVQ" data-same-height-subgrid-container class="gmkUjtrkVQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:32px;--pb:0px;--pt-tablet:32px;--pb-tablet:0px;--pt-mobile:32px;--pb-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#3A5E42;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7orpWiE3z gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g4yv20aOrR"}' data-id="g4yv20aOrR" id="g4yv20aOrR" data-same-height-subgrid-container class="g4yv20aOrR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-W2jxwDsn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNXkQFhhlR"
        class="gNXkQFhhlR"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNXkQFhhlR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-602750963912016637 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1wi06b-ei/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=602201979850064669&sectionId=602750963912016637)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNXkQFhhlR_text","label":"ggNXkQFhhlR_text","default":"<p><span style=\"font-size:12px;\">© 2026 Waggier™ All Rights Reserved. Privacy Policy. Terms of Use</span></p><p><span style=\"font-size:10px;\">THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}